<section data-ng-controller="LibrarysController">
<h1>Add New Library</h1> <hr/>	
	<form class="form-horizontal col-md-9" role="form" data-ng-submit="create()">
		<div class="form-group">
			<label for="title" class="col-md-2 control-label">Title</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="form-group">
			<label for="content" class="col-md-2 control-label">Description</label>
			<div class="col-md-10">
				<textarea data-ng-model="content" id="content" cols="30" rows="5" placeholder="Description" class="form-control" required></textarea>
			</div>
		</div>
		<div class="form-group">
			<label for="pageUrl" class="col-md-2 control-label">Page URL</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="pageUrl" id="pageUrl" placeholder="Page URL" required>
			</div>
		</div>
		<div class="form-group">
			<label for="thumb" class="col-md-2 control-label">Thumbnail URL</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="thumb" id="thumb" placeholder="Thumbnail URL" required>
			</div>
		</div>
		<div class="form-group">
			<label for="tags" class="col-md-2 control-label">Tags</label>
			<div class="col-md-10">
				<input type="text" class="form-control" data-ng-model="tags" id="tags" placeholder="tags" required>
				Enter multiple by separating by a comma (,)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</section>