h1 {
    text-align:center
}

ul.library li:not(:last-child) {
    border-bottom:1px solid #ccc
}

@media (max-width: 768px)
{
 .auth-dd
 {
 	float: left !important;
 }
}

.librarys
{
	list-style: none;
	margin: 0px auto;
display: block;
padding: 39px;
padding-top: 0px;
}
.uno
{
	width:50%;
	list-style: none;
}

hr {
border-top: 3px solid #787878;
}

.clear
{
	clear: both;
}

ul.librarys li
{
	padding-bottom: 21px;
}
.filtered
{
	padding: 18px;
padding-bottom: 0px;
font-size: 18px;
display: block;
text-align: center;
font-style: italic;
font-weight: normal;
}
